#Laskarit viikko 2
/laskarit/viikko2/unicafe/.pytest_cache
/laskarit/viikko2/unicafe/src/__pycache__
/laskarit/viikko2/unicafe/src/tests/__pycache__
/laskarit/viikko2/unicafe/.coverage
/laskarti/viikko2/unicafe/htmlcov


__pycache__
.coverage
htmlcov
.pytest_cache
/src/__pycache__

